In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Calculate value(s)
total_players = len(purchase_data["SN"].unique())

# Generate dataframe
total_players_df = pd.DataFrame({
    "Total Players" : [total_players]
})

# Print dataframe
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate value(s)
num_items = len(purchase_data["Item ID"].unique())
avg_price = purchase_data["Price"].mean()
num_purchases = len(purchase_data["Purchase ID"].unique())
total_revenue = purchase_data["Price"].sum()

# Generate dataframe
purchasing_analysis_df = pd.DataFrame({
    "Number of Unique Items" : [num_items],
    "Average Price" : [avg_price],
    "Number of Purchases" : [num_purchases],
    "Total Revenue" : [total_revenue],
})

# Adjust formatting
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)

# Print dataframe
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Calculate value(s)
purchase_data_unique = purchase_data[["SN", "Gender"]].drop_duplicates()
count_male = purchase_data_unique[ purchase_data_unique["Gender"] == "Male" ].count()[1]
count_female = purchase_data_unique[ purchase_data_unique["Gender"] == "Female" ].count()[1]
count_other = purchase_data_unique[ (purchase_data_unique["Gender"] != "Male") & (purchase_data_unique["Gender"] != "Female") ].count()[1]
pct_male = count_male / total_players
pct_female = count_female / total_players
pct_other = count_other / total_players

# Generate dataframe
gender_demographics_df = pd.DataFrame({
    "Total Count" : {
        "Male" : count_male,
        "Female" : count_female,
        "Other / Non-Disclosed" : count_other
    },
    "Percentage of Players" : {
        "Male" : pct_male,
        "Female" : pct_female,
        "Other / Non-Disclosed" : pct_other   
    },
})

# Adjust formatting
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2%}".format)

# Print dataframe
gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [48]:
gender_demographics_df["Percentage of Players"][1:]

Female                   14.06%
Other / Non-Disclosed     1.91%
Name: Percentage of Players, dtype: object

In [61]:
# Initialize dataframe
purchasing_analysis_gender_df = pd.DataFrame(columns = ["",
                                                        "Purchase Count",
                                                        "Average Purchase Price",
                                                        "Total Purchase Value",
                                                        "Avg Total Purchase per Person"])
purchasing_analysis_gender_df.loc[len(purchasing_analysis_gender_df.index)] = ["Gender", "","","",""]

# Loop through rows and columns
for gender in list(gender_demographics_df.index):    
    
    # Subset df
    gender_df = purchase_data[ purchase_data["Gender"] == gender ]
    
    # Calculate values
    purchase_count = gender_df.count()[1]
    avg_price = gender_df["Price"].mean()
    total_price = gender_df["Price"].sum()
    gender_df = gender_df.groupby("SN")
    total_purchase_per_person = gender_df["Price"].sum()
    avg_total_purchase_per_person = total_purchase_per_person.mean()
    
    # Add values to gender_row
    gender_row = [gender, purchase_count, avg_price, total_price, avg_total_purchase_per_person]
    
    # Merge row into dataframe
    purchasing_analysis_gender_df.loc[len(purchasing_analysis_gender_df.index)] = gender_row

# Adjust formatting
purchasing_analysis_gender_df["Average Purchase Price"][1:] = purchasing_analysis_gender_df["Average Purchase Price"][1:].map("${:.2f}".format)
purchasing_analysis_gender_df["Total Purchase Value"][1:] = purchasing_analysis_gender_df["Total Purchase Value"][1:].map("${:.2f}".format)
purchasing_analysis_gender_df["Avg Total Purchase per Person"][1:] = purchasing_analysis_gender_df["Avg Total Purchase per Person"][1:].map("${:.2f}".format)

# Print dataframe
purchasing_analysis_gender_df.to_string(index=False)
purchasing_analysis_gender_df

,,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Gender,,,,
1,Male,652,$3.02,$1967.64,$4.07
2,Female,113,$3.20,$361.94,$4.47
3,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

## Three Observable Trends

1)

2)

3)